<h1>About Wisdom Islamic Organization</h1>
<p>
  Wisdom Islamic Organization is an endeavour for spreading the message of Islam in its primordial form to maximum number of people worldwide; mobilizing and integrating the cultural, academic and intellectual resources supported by the scientific and technological expertise of the followers to facilitate the creation of thriving, dynamic, proactive and inclusive community.  
</p>